@import 'assets/lib/bootstrap/bootstrap-grid.min.css';
@import './utils/main';

.main-header {
  border-bottom: 1px solid $gray-lightest;
  .user-avatar {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50px;
    img {
      width: 100%;
    }
  }
}

#configuration-page {
  height: 100vh;
  .side-image {
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}
