// Vue js page transition animation
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

// Positions
.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-static {
  position: static;
}

.rounded-5 {
  border-radius: 5px
}

.rounded-10 {
  border-radius: 10px
}

.bordered {
  border: 1px solid $gray-light;
}

.w-100 {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.opacity-1 {
  opacity: 1;
}
